data
docs
paper
slides
experiments/online/**
experiments/fMRI/logs/**
experiment/fMRI/test/logs/**
analysis/online_pilot/**
analysis/beh_pilot/**
project/**
*.csv
*.docx
analysis/ping_pilot/.ipynb_checkpoints/
__pycache__
.DS_Store
